body {
  background-color: #282c34;
  color: white;
}
.shopTitle {
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
}

.productsList {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.product {
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 3px;
}

.product .description {
  text-align: center;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

@media (min-width: 768px) {
  .productsList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .productsList {
    grid-template-columns: repeat(3, 1fr);
  }
}
